<h1>Movie Dashboard</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">The Movie Title</th>
    <th scope="col">The Director’s Name</th>
    <th scope="col">Movie’s Rating</th>
    <th scope="col">Movie Poster</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let movie of movieList; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td><button type="button" class="btn btn-link" (click)="openModal(i)">{{movie.title}}</button></td>
    <td>
      {{ movie.director }}
    </td>
    <td>{{ movie.rt_score  }}</td>
    <td>
      <img height="40" width="60" [src]="'https://dummyimage.com/50x50/0394fc/ffffff.jpg&text=img-' + (i+1)" >
    </td>
  </tr>
  </tbody>
</table>